* {
  box-sizing: border-box;
}
html {
  background: #eee;

}
#root {
  padding: 0;
  margin: auto;
  text-align: center;
  font-family: Tahoma;
}

h1 {
  position: relative;
  top: 10px;
  color: blue;
}

.main {
  width: 100%;
  height: 100%;
  margin: auto;
}

.delBtn {
  flex-basis: 0;
  flex-grow: 1;
  color: red;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  float: right;
  bottom: 72px;
  left: 13px;
}

li {
  position: relative;
  width: 400px;
  height: 40px;
  margin: 50px auto auto;
  list-style: none;
  right: 15px;
}

.todo-wrapper {
  width: 90%;
  margin: 0 auto;
  background: #fff;
  border-top: 3px solid blue;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  color: #333;
}

.line-through {
  width: 90%;
  margin: 0 auto;
  background: #fff;
  border-top: 3px solid blue;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  color: #333;
  text-decoration: line-through;
}
#todo-wrapper p {
  color: #777;
  font-style: italic;
}

#userInput {
  flex-basis: 0;
  flex-grow: 7;
  padding: 10px;
  border: 2px solid #7f4cc1;
  border-radius: 4px 0 0 4px;
  color: #777;
  width: 285px;
}

#todo-wrapper:hover {
  background: #eee;
}

ul {
  width: 70%;
  height: 75%;
  margin: auto;
  text-align: center;
}

button {
  flex-basis: 0;
  flex-grow: 3;
  padding: 10px;
  background: #7f4cc1;
  border-radius: 0 4px 4px 0;
  border: 2px solid #7f4cc1;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  left: 3px;
}

input[type='checkbox']:after{
  line-height: 1.5em;
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -4px;
  margin-left: -4px;
  border: 1px solid rgb(192,192,192);
  border-radius: 0.25em;
  background: rgb(224,224,224);
}

input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  border: 3px solid #00ff00;
}

input[type=checkbox] {
  position: relative;
  float: left;
  top: 15px;
  cursor: pointer;
}
